/* CSS DE INDEX */
header {

    background-color: rgb(153, 255, 127);
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/fondo-header.png);
    background-position: center;
    background-size: cover;


}

a { 
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;

}

#contenedor-padre-index {
    display: inline-block;
}

#section-index {
    display: inline-block;
    background-color: rgb(153, 255, 127);
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 590px;
}

#section-figure-index{
    margin-left: 510px;
    margin-right: 600px;
}

footer {
    background-color: rgb(153, 255, 127);
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* css de sobre ias  */
.section-sobre-ias{
    align-content: center;
    text-align: center;
    width: 60%;
    margin-left: 275px;
}

table {
    width: 60%;
    text-align: center;
    margin-left: 275px;

}

th, td{
    border: 1px solid;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* css para funciones.html */

#contenedor-de-ul {
    display: table;
    width: 100%;
}

.section-para-cells{
    display: table-cell;
    width: 40%;
    background-color: rgb(125, 211, 85);
}